@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.rounded-image{
  width:60px;
  height:60px;
  border-radius:100%;
  border:1px solid #ccc;
  padding:5px;
}
